@import url('https://fonts.googleapis.com/css?family=Metal+Mania&display=swap');

.heading {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #3a3a3a;
  color: #fff;
}

h1 {
  font-family: 'Metal Mania';
  font-size: 3em;
  text-align: center;
}